<div class="holder">

  {{#each row in rows}}
    {{#each column in columns}}
      <div class="tile {{row}} {{column}}" {{action "takeTurn" row column}}>
        <div class="tile-content">
          {{fa-icon ""}}
        </div>
      </div>
    {{/each}}
  {{/each}}

</div>
