<div class="holder">

  {{#each rows as |row|}}
    {{#each columns as |column|}}
      <div class="tile {{row}} {{column}}" {{action "takeTurn" row column}}>
        <div class="tile-content">
          <i class="fa"></i>
        </div>
      </div>
    {{/each}}
  {{/each}}

</div>
